/* NOLAN:
  Had to readjust size based off of percentage to make the navbar fit properly on my screen. Not sure
  if keeping a hard width is going to do well for those with smaller screens.
*/
@font-face {
  font-family: Avenir;
  src: url(../../assets/AvenirLTStd-Roman.otf);
}

.btnCta {
  margin: 0 10px 15px 0;
}

.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
  height: 69px;
  /*width: 1440px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute;
  z-index: 5; */
  padding-top: 15px;
  background-color: #ffffff;
}

.nav-front {
  height: 69px;
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 888px) {
  .nav-front {
    display: none;
  }
}

.nav-bar .logo-div {
  height: 83px;
  width: 142px;
  margin: 5px 5px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e2f38;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nav-bar .logo-div h6 {
  font-family: Avenir;
}

.nav-bar .logo-div .nav-logo {
  max-height: 49px;
  max-width: 77px;
  cursor: pointer;
}

nav .link-dec {
  height: 25px;
  display: flex;
  justify-content: center;
  color: #2e2f38;
  font-family: Avenir;
  font-size: 20px;
  line-height: 25px;
}

/* NOLAN: Removed 'position' because it was off-setting button alignment. */
nav .nav-button {
  height: 35px;
  width: 142px;
  margin: 0 20px 6px 0;
  padding-top: 3px;
  color: #ffffff;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  background-color: #2e2f38;
  border: transparent;
  border-radius: 3px;
}

/* RAYMOND: mobile nav...used a tutorial and refactored for our needs dev credited below,may refactor with js/react but
vanilla css was the best option for now */

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (min-width: 888px) {
  .mobile-nav {
    display: none;
  }
}

.menu {
  height: 25px;
  width: 53px;
  opacity: 0.5;
  color: #2e2f38;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #2e2f38;
  transition: color 0.3s ease;
}

a:hover {
  color: #24b4a5;
}

.mob-nav-button {
  height: 35px;
  width: 142px;
  margin: 0 20px 0 0;
  padding: 5px;
  color: #ffffff;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  background-color: #2e2f38;
  border: transparent;
  border-radius: 3px;
}
